{% load static %}
{% include 'kharkiv_trolleybus/pattern.html' %}
<div class="osnova">
    <h2 class="hg">Характеристики</h2>
    <table class="tb5">
        <tr>
            <td class="tb5"><b>Сдан в эксплуатацию:</b></td>
            <td class="tb5">23.08.1975</td>
        </tr>
        <tr>
            <td class="tb5"><b>Адрес:</b></td>
            <td class="tb5"> ул. Свистуна, 2б</td>
        </tr>
        <tr>
            <td class="tb5"><b>Маршруты:</b></td>
            <td class="tb5">2,7,13,17,24,25,34,36,40,42,45,46</td>
        </tr>
        <tr>
            <td class="tb5"><b>Едениц подвижного состава:</b></td>
            <td class="tb5">103</td>
        </tr>
        <tr>
            <td class="tb5"><b>Модели:</b></td>
            <td class="tb5">ЗиУ-682 и модификации,Богдан-Т701117,ЛАЗ-Е183А1,ЛАЗ-Е301D1,Scoda-14tr, Scoda-15tr</td>
        </tr>
        <tr>
    </table>
    <section>
        <div>
            <footer aligh="right">
                <td>
                    <p><label for="textarea">Отзывы:
            <textarea ></textarea></label>
                        <div class="b1"><input type="submit" name="Отправить"></div>
                        <div class="b2"><button type="submit">Посмотреть отзывы</button></div>
                    </p>
                </td>
            </footer>
        </div>
    </section>
</div>