{% load static %}
{% include 'kharkiv_trolleybus/pattern.html' %}
<div class="osnova">
    <h2 class="hg">Характеристики</h2>
    <table class="tb5">
        <tr class="tb5">
            <td class="tb5"><b>Сдан в эксплуатацию:</b></td>
            <td class="tb5">09.1982</td>
        </tr>
        <tr class="tb5">
            <td class="tb5"><b>Адрес:</b></td>
            <td class="tb5"> ул. Тракторостроителей, 109 </td>
        </tr>
        <tr class="tb5">
            <td class="tb5"><b>Маршруты:</b></td>
            <td class="tb5">48,49,50,51,52,53,54,55</td>
        </tr>
        <tr class="tb5">
            <td class="tb5"><b>Едениц подвижного состава:</b></td>
            <td class="tb5">50</td>
        </tr>
        <tr class="tb5">
            <td class="tb5"><b>Модели:</b></td>
            <td class="tb5">PTS-12</td>
        </tr>
    </table>
    <section>
        <div>
            <footer aligh="right">
                <td>
                    <p><label for="textarea">Отзывы:
                        <textarea ></textarea></label>
                        <div class="b1"><input type="submit" name="Отправить"></div>
                        <div class="b2"><button type="submit">Посмотреть отзывы</button></div>
                    </p>
                </td>
            </footer>
        </div>
    </section>
</div>