{% load static %}
{% include 'kharkiv_trolleybus/pattern.html' %}
<div class="osnova">
    <section>
        <div>
            <h2 class="hg">Самый короткий маршрут - №7, его длинна 4,82 км, время поездки - 24 мин.</h2>
        </div>
        <div>
            <h2 class="hg">Самый длинный маршрут №3, его длинна 31,4 км, время поездки - 121 мин.</h2>
        </div>
        <div>
            <h2 class="hg">Наибольшее число поставленых едениц подвижного состава было у ЗиУ-682, всего поступило 983 машин.</h2>
        </div>
        <div>
            <h2 class="hg">Самая старый, действующий, пассажирский троллейбус - ЗиУ-682Г [Г00] #346 1991 г. выпуска.</h2>
        </div>
        <div>
            <h2 class="hg">Самые загруженные маршруты - №2,3,6,24,34,35,46.</h2>
        </div>
        <div>
            <h2 class="hg">Первый маршрут на АХ - 48, открытый 22.10.2020 г.</h2>
        </div>
    </section>
</div>