{% load static %}
{% include 'kharkiv_trolleybus/pattern.html' %}
<div class="osnova">
    <table class="tb">
        <thead>
            <caption colspan="6">Список подвижного состава</caption>
            <tr class="tb6">
                <td class="tb6">Модель</td>
                <td class="tb6">Год выпуска</td>
                <td class="tb6">Эксплуатация</td>
                <td class="tb6">Количество</td>
                <td class="tb6">Всего поступило</td>
                <td class="tb6">Модификации</td>
            </tr>
            <tr class="tb5">
                <td class="tb6">ЗиУ-682</td>
                <td class="tb5">1972-2015</td>
                <td class="tb5">с 1972,с 2007-ЗиУ-682.016.02</td>
                <td class="tb5">83,1-"Г"</td>
                <td class="tb5">90-ЗиУ-682.016</td>
                <td class="tb5">016.02,Г</td>
            </tr>
            <tr class="tb5">
                <td class="tb6">Scoda-14tr</td>
                <td class="tb5">1980-2004</td>
                <td class="tb5">с 2014</td>
                <td class="tb5">5</td>
                <td class="tb5">18</td>
                <td class="tb5">17/6M,M</td>
            </tr>
            <td class="tb6">Scoda-15tr</td>
            <td class="tb5">1987-2004</td>
            <td class="tb5">с 2017</td>
            <td class="tb5">5</td>
            <td class="tb5">5</td>
            <td class="tb5">13/6M</td>
            <tr class="tb5">
                <td class="tb6">ЛАЗ-Е183</td>
                <td class="tb5">2006-2013</td>
                <td class="tb5">с 2011</td>
                <td class="tb5">21</td>
                <td class="tb5">22</td>
                <td class="tb5">А1</td>
            </tr>
            <tr class="tb5">
                <td class="tb6">ЛАЗ-Е301</td>
                <td class="tb5">2006-2013</td>
                <td class="tb5">с 2011</td>
                <td class="tb5">56</td>
                <td class="tb5">56</td>
                <td class="tb5">D1</td>
            </tr>
            <tr class="tb5">
                <td class="tb6">Богдан-Т701</td>
                <td class="tb5">с 2010</td>
                <td class="tb5">с 2019</td>
                <td class="tb5">84</td>
                <td class="tb5">84</td>
                <td class="tb5">17</td>
            </tr>
            <tr class="tb5">
                <td class="tb6">PTS-12</td>
                <td class="tb5">с 2019</td>
                <td class="tb5">с 2020</td>
                <td class="tb5">50</td>
                <td class="tb5">50</td>
                <td class="tb5"></td>
            </tr>
        </thead>
    </table>
</div>