{% load static %}
{% include 'kharkiv_trolleybus/pattern.html' %}
<div class="osnova">
    <table class="tb">
        <tr class="tb5">
            <td class="tb6">№</td>
            <td class="tb6">Начало маршрута</td>
            <td class="tb6">Конец маршрута</td>
            <td class="tb6">Депо</td>
            <td class="tb6">Длинна,км</td>
            <td class="tb6">Время</td>
            <td class="tb6">Подвижной состав</td>
            <td class="tb6">Дата запуска</td>
        </tr>
        <tr>
            <td class="tb5">1</td>
            <td class="tb5">Ст. м. Дворец спорта</td>
            <td class="tb5">28 м/н</td>
            <td class="tb5">№2</td>
            <td class="tb5">6.85</td>
            <td class="tb5">29 мин</td>
            <td class="tb5">ЛАЗ-Е301, Богдан-Т70117</td>
            <td class="tb5">05.05.1939</td>
        </tr>
        <tr>
            <td class="tb5">2</td>
            <td class="tb5">Ул. Академика Проскуры</td>
            <td class="tb5">Пр. Победы</td>
            <td class="tb5">№3</td>
            <td class="tb5"> 28.05</td>
            <td class="tb5">105 мин</td>
            <td class="tb5">ЗиУ-682, ЛАЗ-Е183, ЛАЗ-Е301, Богдан-Т70117</td>
            <td class="tb5">07.11.1939 </td>
        </tr>
        <tr>
            <td class="tb5">3</td>
            <td class="tb5">Ул. Университетская</td>
            <td class="tb5">Ул. 12-го апреля</td>
            <td class="tb5">№2</td>
            <td class="tb5">31.4</td>
            <td class="tb5">121 мин</td>
            <td class="tb5">ЗиУ-682, Scoda-14tr, Scoda-15tr, ЛАЗ-Е183, ЛАЗ-Е301, Богдан-Т70117</td>
            <td class="tb5">22.08.1948</td>
        </tr>
        <tr>
            <td class="tb5">5</td>
            <td class="tb5">Ул. Университетская</td>
            <td class="tb5">Аэропорт</td>
            <td class="tb5">№2</td>
            <td class="tb5">18.3</td>
            <td class="tb5">70 мин</td>
            <td class="tb5">ЗиУ-682, ЛАЗ-Е183, Богдан-Т70117</td>
            <td class="tb5">15.03.1958</td>
        </tr>
        <tr>
            <td class="tb5">6</td>
            <td class="tb5">Ул. Университетская</td>
            <td class="tb5">Основа</td>
            <td class="tb5">№2</td>
            <td class="tb5">18.4</td>
            <td class="tb5">75 мин</td>
            <td class="tb5">ЗиУ-682, ЛАЗ-Е183, ЛАЗ-Е301, Богдан-Т70117</td>
            <td class="tb5">15.03.1958</td>
        </tr>
        <tr>
            <td class="tb5">7</td>
            <td class="tb5">Ул. 12-го апреля</td>
            <td class="tb5">Восточная</td>
            <td class="tb5">№3</td>
            <td class="tb5">4.85</td>
            <td class="tb5">24 мин</td>
            <td class="tb5">ЗиУ-682</td>
            <td class="tb5">20.06.1959</td>
        </tr>
        <tr>
            <td class="tb5">11</td>
            <td class="tb5">Пл. Конституции</td>
            <td class="tb5">Пр. Дзюбы</td>
            <td class="tb5">№2</td>
            <td class="tb5">21</td>
            <td class="tb5">88 мин</td>
            <td class="tb5">Богдан-Т70117</td>
            <td class="tb5">06.11.1968</td>
        </tr>
        <tr>
            <td class="tb5">12</td>
            <td class="tb5">Ул. Рудика</td>
            <td class="tb5">Ул. Клочковская</td>
            <td class="tb5">№2</td>
            <td class="tb5">17.7</td>
            <td class="tb5">62 мин</td>
            <td class="tb5">Богдан-Т70117</td>
            <td class="tb5">01.05.1969</td>
        </tr>
        <tr>
            <td class="tb5">13</td>
            <td class="tb5">Парк "Зустріч"</td>
            <td class="tb5">Ст. м. Защитников Украины</td>
            <td class="tb5">№3</td>
            <td class="tb5"></td>
            <td class="tb5"></td>
            <td class="tb5">ЗиУ-682</td>
            <td class="tb5">01.05.1969</td>
        </tr>
        <tr>
            <td class="tb5">18</td>
            <td class="tb5">Пл. Свободы</td>
            <td class="tb5">Больница скорой помощи</td>
            <td class="tb5">№2</td>
            <td class="tb5">13.3</td>
            <td class="tb5">58 мин</td>
            <td class="tb5">Богдан-Т70117</td>
            <td class="tb5">01.09.1971</td>
        </tr>
        <tr>
            <td class="tb5">19</td>
            <td class="tb5">602 м/н</td>
            <td class="tb5">Ул. Одесская</td>
            <td class="tb5">№2</td>
            <td class="tb5">24.3</td>
            <td class="tb5">88 мин</td>
            <td class="tb5">ЗиУ-682, Богдан-Т70117</td>
            <td class="tb5">05.11.1972</td>
        </tr>
        <tr>
            <td class="tb5">20</td>
            <td class="tb5">602 м/н</td>
            <td class="tb5">Ст. м. Турбоатом </td>
            <td class="tb5">№2</td>
            <td class="tb5">13.8</td>
            <td class="tb5">58 мин</td>
            <td class="tb5">Богдан-Т70117</td>
            <td class="tb5">01.05.1973</td>
        </tr>
        <tr>
            <td class="tb5">24</td>
            <td class="tb5">602 м/н</td>
            <td class="tb5">Ст. м. Академика Барабашова</td>
            <td class="tb5">№3</td>
            <td class="tb5">8.75</td>
            <td class="tb5">37 мин</td>
            <td class="tb5">ЛАЗ-Е301</td>
            <td class="tb5">24.08.1974</td>
        </tr>
        <tr>
            <td class="tb5">25</td>
            <td class="tb5">Ст. м. Дворец спорта</td>
            <td class="tb5">Бульвар Богдана Хмельницкого</td>
            <td class="tb5">№3</td>
            <td class="tb5">8.1</td>
            <td class="tb5">37 мин</td>
            <td class="tb5">ЗиУ-682</td>
            <td class="tb5">02.09.1974</td>
        </tr>
        <tr>
            <td class="tb5">27</td>
            <td class="tb5">Улица Новый Быт</td>
            <td class="tb5">Пр. Дзюбы</td>
            <td class="tb5">№2</td>
            <td class="tb5">20</td>
            <td class="tb5"> 66 мин</td>
            <td class="tb5">ЛАЗ-Е183, Богдан-Т70117</td>
            <td class="tb5">20.08.1975</td>
        </tr>
        <tr>
            <td class="tb5">31</td>
            <td class="tb5">Северная Салтовка</td>
            <td class="tb5">Ст. м. Турбоатом</td>
            <td class="tb5">№2</td>
            <td class="tb5">19.7</td>
            <td class="tb5">78 мин</td>
            <td class="tb5">ЗиУ-682, ЛАЗ-Е183, Богдан-Т70117</td>
            <td class="tb5">05.11.1976</td>
        </tr>
        <tr>
            <td class="tb5">34</td>
            <td class="tb5">Восточная Салтовка</td>
            <td class="tb5">Ул. Героев Труда</td>
            <td class="tb5">№3</td>
            <td class="tb5">8.85</td>
            <td class="tb5">37 мин</td>
            <td class="tb5">ЛАЗ-Е301</td>
            <td class="tb5">11.08.1978</td>
        </tr>
        <tr>
            <td class="tb5">35</td>
            <td class="tb5">Северная Салтовка</td>
            <td class="tb5">Ул. Одесская</td>
            <td class="tb5">№2</td>
            <td class="tb5">30.2</td>
            <td class="tb5">108 мин</td>
            <td class="tb5">ЗиУ-682, Scoda-15tr, ЛАЗ-Е183, ЛАЗ-Е301, Богдан-Т70117</td>
            <td class="tb5">11.08.1978</td>
        </tr>
        <tr>
            <td class="tb5">36</td>
            <td class="tb5">Ст. м. Армейская</td>
            <td class="tb5">Ул. 12-го апреля</td>
            <td class="tb5">№3</td>
            <td class="tb5">11.9</td>
            <td class="tb5">49 мин</td>
            <td class="tb5">ЗиУ-682</td>
            <td class="tb5">11.08.1978</td>
        </tr>
        <tr>
            <td class="tb5">40</td>
            <td class="tb5">Парк им. Горького</td>
            <td class="tb5">Пр. Победы</td>
            <td class="tb5">№3</td>
            <td class="tb5"></td>
            <td class="tb5"></td>
            <td class="tb5">ЗиУ-682, Богдан-Т70117</td>
            <td class="tb5">01.04.1982</td>
        </tr>
        <tr>
            <td class="tb5">42</td>
            <td class="tb5">Северная Салтовка</td>
            <td class="tb5">Ул. Героев Труда</td>
            <td class="tb5">№3</td>
            <td class="tb5">11.9</td>
            <td class="tb5">51 мин</td>
            <td class="tb5">ЗиУ-682, ЛАЗ-Е183</td>
            <td class="tb5">12.08.1984</td>
        </tr>
        <tr>
            <td class="tb5">45</td>
            <td class="tb5">Ул. 12-го апреля</td>
            <td class="tb5">Ул. Зубарьева(Роганская)</td>
            <td class="tb5">№3</td>
            <td class="tb5">9</td>
            <td class="tb5">32 мин</td>
            <td class="tb5">ЗиУ-682, Scoda-14tr, ЛАЗ-Е183</td>
            <td class="tb5">30.04.1988</td>
        </tr>
        <tr>
            <td class="tb5">46</td>
            <td class="tb5">Ул. 12-го апреля</td>
            <td class="tb5">м/н "Горизонт"</td>
            <td class="tb5">№3</td>
            <td class="tb5">8.85</td>
            <td class="tb5">32 мин</td>
            <td class="tb5">ЗиУ-682, Scoda-14tr, Scoda-15tr,ЛАЗ-Е183, ЛАЗ-Е301</td>
            <td class="tb5">08.05.1996</td>
        </tr>
        <tr>
            <td class="tb5">47</td>
            <td class="tb5">Северная Салтовка</td>
            <td class="tb5">Ст. м. Героев Труда</td>
            <td class="tb5">№2</td>
            <td class="tb5">7</td>
            <td class="tb5">34 мин</td>
            <td class="tb5">ЛАЗ-Е183, Богдан-Т70117</td>
            <td class="tb5">13.01.2020</td>
        </tr>
        <tr>
            <td class="tb5">48</td>
            <td class="tb5">Северная Салтовка-5</td>
            <td class="tb5">Ст. м. Героев Труда</td>
            <td class="tb5">СТД</td>
            <td class="tb5">6.3</td>
            <td class="tb5">29 мин</td>
            <td class="tb5">PTS-12</td>
            <td class="tb5">22.10.2020</td>
        </tr>
        <tr>
            <td class="tb5">49</td>
            <td class="tb5">Ул. Университетская</td>
            <td class="tb5">Пос. Жихарь</td>
            <td class="tb5">СТД</td>
            <td class="tb5">24,38</td>
            <td class="tb5">97 мин</td>
            <td class="tb5">PTS-12</td>
            <td class="tb5">07.12.2020</td>
        </tr>
        <tr>
            <td class="tb5">50</td>
            <td class="tb5">Пл. Конституции</td>
            <td class="tb5">Пятихатки</td>
            <td class="tb5">СТД</td>
            <td class="tb5">27,88 км</td>
            <td class="tb5">97 мин</td>
            <td class="tb5">PTS-12</td>
            <td class="tb5">07.04.2021</td>
        </tr>
        <tr>
            <td class="tb5">51</td>
            <td class="tb5">Ул. 12-го апреля</td>
            <td class="tb5">Ул. </td>
            <td class="tb5">СТД</td>
            <td class="tb5">12.42 км</td>
            <td class="tb5">52 мин</td>
            <td class="tb5">PTS-12</td>
            <td class="tb5">30.07.2021</td>
        </tr>
        <tr>
            <td class="tb5">52</td>
            <td class="tb5">Ул. 12-го апреля</td>
            <td class="tb5">759-й микрорайон</td>
            <td class="tb5">СТД</td>
            <td class="tb5">10.53 км</td>
            <td class="tb5"> 44 мин</td>
            <td class="tb5">PTS-12</td>
            <td class="tb5">30.07.2021</td>
        </tr>
        <tr>
            <td class="tb5">53</td>
            <td class="tb5">Ул. 12-го апреля</td>
            <td class="tb5">Горизонт- Ул. 12-го апреля</td>
            <td class="tb5">СТД</td>
            <td class="tb5"></td>
            <td class="tb5"></td>
            <td class="tb5">PTS-12</td>
            <td class="tb5">06.08.2021</td>
        </tr>
        <tr>
            <td class="tb5">54</td>
            <td class="tb5">Ул. 12-го апреля</td>
            <td class="tb5">Пятихатки</td>
            <td class="tb5">СТД</td>
            <td class="tb5">12.18 км</td>
            <td class="tb5">52 мин</td>
            <td class="tb5">PTS-12</td>
            <td class="tb5">27.08.2021</td>
        </tr>
        <tr>
            <td class="tb5">55</td>
            <td class="tb5">Пл. Конституции</td>
            <td class="tb5">Пос. им. Жуковского</td>
            <td class="tb5">СТД</td>
            <td class="tb5"></td>
            <td class="tb5"></td>
            <td class="tb5">PTS-12</td>
            <td class="tb5">04.10.2021</td>
        </tr>
    </table>
</div>