{% load static %}
{% include 'kharkiv_trolleybus/pattern.html' %}
<div class="osnova">
    <div>
        <a href="{% static 'img/1511796.png' %}"><img src="{% static 'img/1511796.png' %}" class="i56"></a>
    </div>
    <h2 class="hg">Схема электротранспорта по состоянию на август 2021г.</h2>
    <div>
        <a href="{% static 'img/1437868.png' %}"><img src="{% static 'img/1437868.png' %}" class="i56"></a>
    </div>
    <h2 class="hg">Схема электротранспорта по состоянию на январь 2021г.</h2>
</div>
